functions.egg-info/
functions/__pycache__/
*.ipynb_checkpoints
functions/__pycache__/__init__.cpython-311.pyc
functions/__pycache__/char_eq.cpython-311.pyc
functions/__pycache__/create_custom_pars_list.cpython-311.pyc
functions/__pycache__/create_label.cpython-311.pyc
functions/__pycache__/find_eig.cpython-311.pyc
functions/__pycache__/generate_unique_file_path.cpython-311.pyc
functions/__pycache__/load_dataframe_from_csv.cpython-311.pyc
functions/__pycache__/my_fsolve.cpython-311.pyc
functions/__pycache__/obtain_default_pars.cpython-311.pyc
functions/__pycache__/plot_multiple_datasets.cpython-311.pyc
functions/__pycache__/plot_single_df.cpython-311.pyc
functions/__pycache__/process_dataframe.cpython-311.pyc
functions/__pycache__/save_dataframe_to_csv.cpython-311.pyc
functions/__pycache__/set_directory.cpython-311.pyc
functions/__pycache__/significant_digits.cpython-311.pyc
